.app {
  cursor: pointer;
}

.header {
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  top: 0px;
  position: sticky;
  background-color: white;
}
.header:hover {
  background-color: brown;
}

.header-logo {
  width: 99px;
  border-radius: 50%;
  padding: 0 6px;
}

.nav-item {
  width: 50%;
}

.nav-item ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 30px;
  margin: 0px;
}

.nav-item ul li {
  padding: 10px 40px;
  list-style: none;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  color: burlywood;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-item ul li:hover {
  background-color: gold;
  transform: scale(1.1);
  color: brown;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.res-card {
  cursor: default;
  width: 200px;
  margin: 26px 12px;
  padding: 6px;
  top: 160px;
  position: sticky;
  background-color: white; 
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.2);
  border-radius: 7%;
}

.res-card:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  background-color: brown;
  color: burlywood;
}

.res-logo {
  width: 100%;
  height: 150px;
  border-radius: 7%;
}

.res-detail {
  cursor: pointer;
}

.res-detail:hover{
  text-shadow: 0.1px 0.2px gold;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 20px 0px;
  bottom: 0px;
  background-color: white;
  color: burlywood;
  cursor: default;
  align-items: center;
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.2);
}
.footer:hover{
  background-color: brown;
  font-weight:bold;
}

.footer ul {
  list-style: none;
  padding: 36px 46px;
}

.footer ul li{
   padding: 5px;
   font-size: 20px;
}
.footer ul li:hover{
  color: brown;
   background-color: gold;
  transform: scale(1.1);
   padding: 10px 30px;
}

.footer-logo{
  height: 10rem;
  border-radius: 7%;
  padding: 3px;
}

.footer-logo:hover{
  background-color: gold;
}