.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  top: 0px;
  position: sticky;
  background-color: white;
}
.header:hover{
  background-color: brown;
}

.logo {
  width: 99px;
  border-radius: 50%;
  padding: 0 6px;
}

.nav-item {
  width: 50%;
}

.nav-item ul {
  display: flex;
  flex-wrap:wrap;
  padding: 0px 30px;
  margin: 0px;
}

.nav-item ul li {
  padding: 10px 40px;
  list-style: none;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  color: burlywood;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-item ul li:hover {
  background-color: gold;
  transform: scale(1.1);
  color: white;
}

.res-card {
  flex-wrap:wrap;
  width: 200px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  top: 160px;
  position: sticky;
  background-color: white;

}